stages:
- build
- deploy

variables:
  DEFAULT_VERSION: "8.5"

.deploy_job: &deploy_job
  stage: deploy

  image: docker:latest

  services:
  - docker:dind

  before_script:
  - docker login --username $DOCKER_HUB_USERNAME --password $DOCKER_HUB_PASSWORD

  script:
  - sed -i -e "s/$DEFAULT_VERSION/$VERSION/g" Dockerfile
  - docker build -t nexendrie/php:$VERSION .
  - docker push nexendrie/php:$VERSION

  only:
    - master@nexendrie/docker-php

.build_job: &build_job
  stage: build

  image: docker:latest

  services:
  - docker:dind

  script:
  - sed -i -e "s/$DEFAULT_VERSION/$VERSION/g" Dockerfile
  - docker build .

  except:
    - master@nexendrie/docker-php

deploy:php8.1:
  <<: *deploy_job
  variables:
    VERSION: "8.1"

build:php8.1:
  <<: *build_job
  variables:
    VERSION: "8.1"

deploy:php8.2:
  <<: *deploy_job
  variables:
    VERSION: "8.2"

build:php8.2:
  <<: *build_job
  variables:
    VERSION: "8.2"

deploy:php8.3:
  <<: *deploy_job
  variables:
    VERSION: "8.3"

build:php8.3:
  <<: *build_job
  variables:
    VERSION: "8.3"

deploy:php8.4:
  <<: *deploy_job
  variables:
    VERSION: "8.4"

build:php8.4:
  <<: *build_job
  variables:
    VERSION: "8.4"

deploy:php8.5:
  environment:
    name: dockerhub
    url: https://hub.docker.com/r/nexendrie/php/
  after_script:
    - docker build -t nexendrie/php:latest .
    - docker push nexendrie/php:latest
  <<: *deploy_job
  variables:
    VERSION: "8.5"

build:php8.5:
  <<: *build_job
  variables:
    VERSION: "8.5"

pages:
  stage: deploy
  image: nexendrie/php:8.3
  environment:
    name: pages
    url: https://nexendrie.gitlab.io/docker-php
  script:
  - phing generate
  cache:
    paths:
    - vendor/
  artifacts:
    paths:
    - public
  only:
    refs:
      - master@nexendrie/docker-php
    changes:
      - composer.lock
      - index.*
      - CONTRIBUTING.md
